<?xml version='1.0'?>
<database>
    <name>Kunal Tyagi</name>
    <license>MIT</license>
    <last_modified>24 Jan 2014</last_modified>
    <models>
        <uri>model://<folder_name>/</uri>
        <uri>model://plank/</uri>
        <uri>model://buoy/</uri>
        <uri>model://matsya2.5/</uri>
    </models>
</database>
